.lista{
    list-style: inside;
    margin-left: 50px;
}
.contacto h2{
    text-align: center;
    font-size: 27px;
    margin-bottom: 2%;
    color: rgb(126, 99, 90);
    margin-left: 20px;
}

.contacto p{
    text-align: justify;
    font-size: 25px;
    margin-bottom: 2%;
    margin-left: 20px;
}
.contacto p a{
    font-weight: bold;
    color: #ae887bff;
    text-decoration: none;
}
#mitad1{
    margin-right: 5%;
}
.contacto p a:hover{
    font-weight: bold;
    color: rgb(126, 99, 90);
}
.contacto li{
    font-size: 25px;
}
.contacto ul{
    margin-bottom: 2%;
    margin-left: 20px;
}
.contacto{
    display: block;
    margin-top: 15px;
}

#tablaformulario{
    margin-right: 15%;
    display: block;
    width: 100%;
    height: 300px;
}
.error{
    color: rgb(255, 0, 0);
}
.filaform{
    display: block;
    margin: 0 15px;
    height: 100px;
}
.filaform input{
    height: 50px;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .contacto h2{
        font-size: 35px;
    }
    .contacto p{
        font-size: 32px;
    }
    .contacto li{
        font-size: 32px;
    }
    .filaform{
        height: 110px;
    }
    .filaform input{
        height: 60px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .contacto h2{
        font-size: 25px;
    }
    .contacto p{
        font-size: 23px;
    }
    .contacto li{
        font-size: 23px;
    }
    .filaform{
        height: 100px;
    }
    .filaform input{
        height: 50px;
        width: 95%;
    }
}
@media screen and (max-width: 768px){
    .contacto h2{
        font-size: 17px;
    }
    .contacto p{
        font-size: 15px;
    }
    .contacto li{
        font-size: 15px;
    }
}